h1{
    color: dodgerblue; 
    text-align: center;   
}
.header{
    background-color: yellow;
    display: flex;
    justify-content: space-between;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.item{
    background-color: plum;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
.description{
    text-align: center;
}